@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a.active {
  color: #ff7a00 !important;
}

nav {
  background-color: #001e89;
  position: relative;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link,
.navbar-brand,
.btns {
  color: #f5f5f5;
}

.btn:hover, .downloadbtn:hover {
  color: #f5f5f5;
}

.nav-link:hover {
  color: #ff7a00;
}

.navbar-brand:hover {
  color: #f5f5f5;
}

.navbar-brand {
  margin-left: 50px;
}

.btns {
  background: #ff7a00;
  width: 6.25rem;
  height: 2.5rem;
  border-radius: 20px 20px 0px 20px;
  border: none;
  padding: 0.625rem;
  margin-left: 12.5rem;
}

a:hover {
  text-decoration: none;
  color: #ff7a00;
}

.bcg {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 30, 137, 0.91)), to(rgba(0, 30, 137, 0.91))), url("../images/background image.png");
  background-image: linear-gradient(0deg, rgba(0, 30, 137, 0.91), rgba(0, 30, 137, 0.91)), url("../images/background image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.25rem;
  width: 100%;
  border-radius: 0px 0px 90px 0px;
  position: relative;
}

.details {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  color: #f2f2f2;
}

.details h1 {
  text-transform: uppercase;
  font-size: 4.375rem;
  line-height: 91px;
  font-weight: 700;
}

.details p {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn, .downloadbtn {
  width: 12.5rem;
  height: 3.125rem;
  border: 5px solid #ff7a00;
  border-radius: 20px 20px 20px 0px;
  color: #ff7a00;
  padding: 5px 5px;
}

.brandcolor {
  color: #ff7a00;
  font-weight: bolder;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.features p {
  font-size: 0.9375rem;
  text-justify: align;
}

h2 {
  font-weight: bolder;
}

.downloadbtn {
  background: #ff7a00;
  display: inline;
  border: none;
  color: #f2f2f2;
}

.head, .block, .foot {
  background: #001e89;
  color: #f5f5f5;
  width: 100%;
  height: 3.125rem;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

tr {
  background: #ffead6;
  color: black;
  width: 100%;
  height: 3.125rem;
}

th {
  background: #001e89;
  color: white;
}

.table p {
  color: #E0E0E0;
}

.block {
  background: #ffead6;
  color: #383838;
}

.foot {
  height: 7.5rem;
}

.bold {
  color: #383838;
  font-weight: 900;
}

.texts {
  font-size: 0.9375rem;
}

.ellipse, .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.td {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  background-color: #001e89;
  color: #fafaf9;
  height: 60vh;
}

.footer {
  background: #001048;
  color: #f5f5f5;
}

.move {
  margin-top: 5rem;
}

.font-weight-bolder {
  font-size: 1.25rem;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
    margin: 0;
    padding: 0;
  }
  .details h1 {
    font-size: 1.875rem;
    line-height: 3.125rem;
  }
  .details p {
    font-size: 10px;
    line-height: 20px;
  }
  .details {
    top: 40%;
  }
  h3,
  h2 {
    font-size: 1.5628rem;
  }
  .foot h3 {
    font-size: 0.9375rem;
  }
  .btns,
  .downloadbtn,
  .buttons button {
    width: 9.25rem;
    height: 45px;
  }
  .foot,
  footer {
    height: auto;
  }
  .images {
    width: 250px;
  }
  .btns {
    margin-left: 0px;
    width: 5rem;
    height: 2.5rem;
  }
}

.navbar-toggler-icon {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .foot {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */